<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oldhigh.antiaddiction">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--解锁屏幕-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
<!--    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_LOCK" />-->
    <!--唤醒屏幕-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntiAddiction">

        <activity
            android:name=".activity.HomeAct"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name=".service.AntiAddictionService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/accessibility_service_config" />-->
<!--        </service>-->

        <!-- 添加代码 ↓-->
        <service
            android:name="com.ven.assists.service.AssistsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <!--android:priority="10000" 可提高服务在设置中的权重，排在前面-->
            <intent-filter android:priority="10000">
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/assists_service" />
        </service>
        <!-- 添加代码 ↑-->


        <service
            android:name=".service.MyNotificationListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <!-- 设备管理器权限，注册权限监听器 -->
        <receiver
            android:name=".receiver.AdminReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/adminmanager" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>